<section class="content">
	<div class="row">
		<div class="text-center">
		    <h1><b>Csgo-Fun Home Page</b></h1>
		    <p><h2><em>Have fun, have skins !</em></h2></p>    
		</div>
	</div>
</section>

<section class="content">

	<div class="row">
		<div class="col-md-4">
    
      <!-- Box Comment -->
          <div class="box box-widget" ng-repeat="item in news">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="../images/steam.png" alt="user image">
                <span class="username"><a href="#">{{item.title}}</a></span>
                <span class="description">{{item.feedlabel}} - {{item.date}}</span>
              </div><!-- /.user-block -->
              <div class="box-tools">
                <button class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read"><i class="fa fa-circle-o"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
          </div><!-- /.box -->

    </div>
		<div class="col-md-4">
          <div id="spin"></div>

          <!-- Box Comment -->
          <div class="box box-widget" ng-repeat="item in resultsSparkles">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="{{item.snippet.thumbnails.default.url}}" alt="user image">
                <span class="username"><a href="#">{{item.snippet.title}}</a></span>
                <span class="description">{{item.snippet.title}}</span>
              </div><!-- /.user-block -->
              <div class="box-tools">
                <button class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read"><i class="fa fa-circle-o"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <p>{{item.snippet.description}}</p>

              
            </div><!-- /.box-body -->
          </div><!-- /.box -->

        </div>
        <div class="col-md-4">
          <!-- Box Comment -->
          <div class="box box-widget" ng-repeat="item in resultsCsgo">
            <div class="box-header with-border">
              <div class="user-block">
                <img class="img-circle" src="{{item.snippet.thumbnails.default.url}}" alt="user image">
                <span class="username"><a href="#">{{item.snippet.title}}</a></span>
                <span class="description">{{item.snippet.title}}</span>
              </div><!-- /.user-block -->
              <div class="box-tools">
                <button class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read"><i class="fa fa-circle-o"></i></button>
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
              <!-- post text -->
              <p>{{item.snippet.description}}</p>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        </div>
    </div>
</section>