<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="{{user.photos[1].value}}" alt="User profile picture">
          <h3 class="profile-username text-center">{{user.displayName}}</h3>
          <p class="text-muted text-center">Fucking Noob</p>

          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Real Name</b> <a class="pull-right">{{user._json.realname}}</a>
            </li>
            <li class="list-group-item">
              <b>State</b> <a class="pull-right">{{user._json.loccountrycode}}</a>
            </li>
            <li class="list-group-item">
              <b>Steam Url</b> <a href="{{user._json.profileurl}}" class="pull-right">Link</a>
            </li>
          </ul>

          <a class="btn btn-primary btn-block"><b>Follow</b></a>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <!-- About Me Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">About Me</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
          <p class="text-muted">
            Master in cocksucking from the University of Rose-Marie at Féron
          </p>

          <hr>

          <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
          <p class="text-muted">Monbeliard, California</p>

          <hr>

          <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
          <p>
            <span class="label label-danger">Delphine</span>
            <span class="label label-success">Fabienne</span>
            <span class="label label-info">Rose-Marie</span>
            <span class="label label-warning">Ingrid</span>
            <span class="label label-primary">Janot</span>
          </p>

          <hr>

          <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-9">

            <div class="col-lg-12">
                <h1 class="page-header">Inventory ({{myInventory.length}})</h1><div id="spin"></div>
            </div>

            <div class="col-lg-2 col-md-3 col-xs-6 thumb" ng-repeat="item in myInventoryWithPrices">
                <a class="thumbnail">
                    <img class="img-responsive" src="{{item.photo}}" style="height:90.2656px;" alt="" title="{{item.market_name}}">
                    <span class="label label-warning" ng-if="item.price">{{item.price}}</span>
                    <span class="label label-warning" ng-if="!item.price">0</span>
                </a>
            </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

</section><!-- /.content -->