<section class="content">
	<div class="row">
		<section class="col-lg-9 connectedSortable">
		<div class="row">
		<div class="col-lg-5">
			<div class="clock" style="margin-top: 150px;"></div>
		</div>
		<div class="col-lg-3">
			<div id="wheel"><canvas id="canvas" width="450" height="400"></canvas></div>
		</div>
		</div>
			<div class="box box-info">
				<div class="box-header with-border">
		          <h3 class="box-title">Balance <h3 ng-show="balance">: {{balance}}</h3></h3>
		        </div>
				<form role="form">
		          <div class="box-body">
		          	<!--<div class="form-group">
		          		<div class="input-group margin">
		          			<button class="btn btn-info">All</button>
		          		</div>
		          	</div>-->
		            <div class="form-group">
		              <div class="input-group margin">
	                    <input type="text" class="form-control" placeholder="Enter your bet...">
	                    <span class="input-group-btn">
	                      <button class="btn btn-info btn-flat" type="button">Go !</button>
	                    </span>
	                  </div>
		            </div>
		          </div><!-- /.box-body -->
		        </form>
	        </div>
	        <div class="row">
	        	<div class="col-lg-4">
	        		<div class="box">
						<form role="form">
				          <div class="box-body">
				          	<div class="form-group">
				          		<button class="btn btn-danger btn-block ">1 to 7</button>
				          	</div>
				          </div><!-- /.box-body -->
				        </form>
				        <div style="height: 200px;max-height: 200px;overflow: scroll;overflow-x: hidden;">
					      <div class="item" ng-repeat="item in oneToSeven">
					        <img src="{{item.photo}}" alt="user image" class="online">
					        <p class="message">
					          <a href="#" class="name">
					            {{item.username}}
					          </a>
					          {{item.value}}
					        </p>
					      </div><!-- /.item -->
					  </div>
			        </div>
	        	</div>
	        	<div class="col-lg-4">
	        		<div class="box">
						<form role="form">
				          <div class="box-body">
				          	<div class="form-group">
				          		<button class="btn btn-success btn-block">15</button>
				          	</div>
				          </div><!-- /.box-body -->
				        </form>
				        <div style="height: 200px;max-height: 200px;overflow: scroll;overflow-x: hidden;">
						      <div class="item" ng-repeat="item in fifthteen">
						        <img src="{{item.photo}}" alt="user image" class="online">
						        <p class="message">
						          <a href="#" class="name">
						            {{item.username}}
						          </a>
						          {{item.value}}
						        </p>
						      </div><!-- /.item -->
						  </div>
			        </div>
	        	</div>
	        	<div class="col-lg-4">
	        		<div class="box">
						<form role="form">
				          <div class="box-body">
				          	<div class="form-group">
				          		<button class="btn btn-block btn-warning">8 to 14</button>
				          	</div>
				          </div><!-- /.box-body -->
				        </form>
				        <div style="height: 200px;max-height: 200px;overflow: scroll;overflow-x: hidden;">
					      <div class="item" ng-repeat="item in oneToSeven">
					        <img src="{{item.photo}}" alt="user image" class="online">
					        <p class="message">
					          <a href="#" class="name">
					            {{item.username}}
					          </a>
					          {{item.value}}
					        </p>
					      </div><!-- /.item -->
					  </div>
			        </div>
	        	</div>
	        </div>
		</section><!-- /.Left col -->

		<section class="col-lg-3 connectedSortable">
			<!-- Chat box -->
		  <div class="box box-success">
		    <div class="box-header">
		      <i class="fa fa-comments-o"></i>
		      <h3 class="box-title">Chat</h3>
		    </div>
		    <div class="box-body chat">
		      <!-- chat item -->
		      <div style="height: 750px;max-height: 750px;overflow: scroll;overflow-x: hidden;">
			      <div class="item" ng-repeat="item in chat">
			        <img src="{{item.photo}}" alt="user image" class="online">
			        <p class="message">
			          <a href="#" class="name">
			            <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{item.time}}&nbsp;</small>
			            {{item.username}}
			          </a>
			          {{item.message}}
			        </p>
			      </div><!-- /.item -->
			  </div>
		    <div class="box-footer">
		      <div class="input-group">
		        <input class="form-control" placeholder="Type message..." ng-model="newMessage">
		        <div class="input-group-btn">
		          <button class="btn btn-success" ng-click="sendMessage()">Send</button>
		        </div>
		      </div>
		    </div>
		  </div><!-- /.box (chat box) -->
	    </section><!-- right col -->
	</div>
</section>